[Unit]
Description=DrivaPi Dashboard (Qt)
# Wait for the audio stack AND the display manager (Weston/AGL)
After=pipewire-pulse-system.service wireplumber-system.service graphical.target
Requires=pipewire-pulse-system.service
Wants=wireplumber-system.service graphical.target

[Service]
Type=simple
# Point to the AGL compositor runtime and the PulseAudio socket
Environment=WAYLAND_DISPLAY=wayland-0
Environment=PULSE_SERVER=unix:/run/pipewire/pulse/native
Environment=QT_QPA_PLATFORM=wayland-egl
Environment="XDG_RUNTIME_DIR=/run/pipewire"

# Ensure this path is correct for your binary
ExecStart=/usr/bin/myqtapp
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
